<h1>Borrow a Book</h1>

<%= form_with model: @borrowing, local: true do |form| %>
  <div class="form-group">
    <%= form.label :borrower_name, "Your Name" %>
    <%= form.text_field :borrower_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :book_id, "Select a Book" %>
    <%= form.collection_select :book_id, Book.where.not(id: Borrowing.where(returned_at: nil).pluck(:book_id)), :id, :title, prompt: "Choose a book", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Borrow Book", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back to Books', books_path, class: "btn btn-secondary" %>
