<h1>New Book</h1>
<%= form_with model: @book, local: true do |form| %>
  <div  class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control"%>
  </div>
  <div>
    <%= form.label :author %>
    <%= form.text_field :author, class: "form-control"%>
  </div>
  <div>
    <%= form.submit "Create Book" ,class: "btn btn-primary"%>
  </div>
<% end %>
<%= link_to 'Back to Book List', books_path %>